@import url("https://fonts.cdnfonts.com/css/clash-display");
@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@700&display=swap");
@tailwind utilities;
@tailwind base;
@tailwind components;

.header {
  @apply relative p-4 font-satoshi md:flex md:justify-evenly md:mb-12;
}
.nav {
  @apply flex flex-col space-y-10 fixed w-screen transition-all duration-300 h-screen md:translate-x-0 md:relative md:flex-row  md:h-auto md:w-auto md:space-y-0 md:space-x-14  bg-white md:justify-around z-50 right-0;
  flex-basis: 50%;
}
.logo {
  @apply font-stixTwoText font-bold uppercase text-xl;
}
.nav-list {
  @apply font-medium flex flex-col gap-7 text-lg md:flex-row md:gap-5;
}
.notificationMobile {
  @apply absolute bg-blue-800 rounded-full right-6 bottom-10 p-3 md:hidden;
}
img {
  display: block;
  object-fit: contain;
  width: 100%;
}
.overlap {
  @apply max-w-sm mx-auto grid md:hidden relative;
}
.overlap > * {
  grid-column: 1 / -1;
  grid-row: 1/ -1;
}
